
        .limargin{margin-left:30px;}

        .a {
            margin-top: 60px;
        }

        .imagestyle1 {
            height: 400px !important;
        }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: 400px;
        }


        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

   @media screen and (max-width:800px)
        {
            .limargin {
                margin-left:0px;
            }
	    }


   @media screen and (max-width:640px)
        {
            .xs_margin { margin-left:7%;
               
            }
	    }

   @media screen and (min-width:1280px)
        {
            .panel1 { width:300px;
               
            }
            .crosel {margin-left:9%;
            }
	    }


   @media screen and (min-width:1920px)
        {
            
            .crosellg {margin-left:13%;
            }

            .panel2lg{width:1430px; margin-left:245px;}
	    }